<div class="container">
  <h3>Employee Directory</h3>
  <hr>
  <a class="btn btn-primary btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#addEmployee">
  Add Employee
  </a>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
  
    </thead>
  
    <tbody>
      <tr *ngFor = "let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>
          <a (click)="accessEmployee(employee)" class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#updateEmployee">
            Update
            </a>
          
          <a (click)="accessEmployeeForDelete(employee)" data-bs-toggle="modal" data-bs-target="#deleteEmployee"
            class=" btn btn-danger btn-sm mx-1">
            Delete
          </a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<!-- Add Modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="addEmployeeFormLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="addEmployeeForm">Add Employee</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="lead">Employee Information</p>
          <form #addForm ="ngForm" (ngSubmit)="onAddEmployee(addForm)">
              <div class="mb-3 form-group">
                <input type="hidden" class=" form-control" id="first-name"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="first-name" col-form-label>
                      First Name:
                  </label>
                  <input type="text" ngModel name="firstName" class=" form-control" id="firstName"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="last-name" col-form-label>
                      Last Name:
                  </label>
                  <input type="text" ngModel name="lastName"  class=" form-control" id="lastName"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="email" col-form-label>
                      Email:
                  </label>
                  <input type="email" ngModel name="email" class=" form-control" id="email"/>
              </div>
              <div class="modal-footer">
                <button id="add-employee-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateEmployee" tabindex="-1" aria-labelledby="updateEmployeeFormLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="updateEmployeeForm">Update Employee</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="lead">Employee Information</p>
          <form #editForm ="ngForm">
              <div class="mb-3 form-group">
                <input type="hidden" name="id"  ngModel="{{editEmployee?.id}}" class=" form-control" id="id"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="first-name" col-form-label>
                      First Name:
                  </label>
                  <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" class=" form-control" id="firstName"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="last-name" col-form-label>
                      Last Name:
                  </label>
                  <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName"  class=" form-control" id="lastName"/>
              </div>
              <div class="mb-3 form-group">
                  <label for="email" col-form-label>
                      Email:
                  </label>
                  <input type="email" ngModel="{{editEmployee?.email}}" name="email" class=" form-control" id="email"/>
              </div>
              <div class="modal-footer">
                <button id="add-employee-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="onUpdateEmployee(editForm.value)" type="button" class="btn btn-primary" >Save changes</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="addEmployeeFormLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="addEmployeeForm">Delete Employee</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="lead">Are you sure you want to delete employee {{deleteEmployee?.firstName}}  {{deleteEmployee?.lastName}}</p>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      <button (click)="onDeleteEmployee(deleteEmployee.id)" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>